# EDA das ofertas relâmpagos

In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   
##Eliminar os warnings
import warnings
warnings.filterwarnings("ignore")
##Ver todas as colunas do data frame
pd.set_option('display.max_columns', None)
##Ver todas as linhas do data frame
pd.set_option('display.max_rows', None)

# 1- Visão geral dos dados

In [2]:
#Importar a base de dados
df =  pd.read_csv('ofertas_relampago.csv', sep = ',')
#Visualizar
df.head(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,OFFER_TYPE,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID
0,2021-06-22,2021-06-22 16:00:00+00:00,2021-06-22 23:02:43+00:00,lightning_deal,4,-2,4.72,6.0,A,none,PETS FOOD,CPG,MLM-BIRD_FOODS
1,2021-06-22,2021-06-22 13:00:00+00:00,2021-06-22 19:00:02+00:00,lightning_deal,5,5,NaN,NaN,NaN,free_shipping,PET PRODUCTS,OTHERS,MLM-ANIMAL_AND_PET_PRODUCTS
2,2021-06-22,2021-06-22 07:00:00+00:00,2021-06-22 13:00:01+00:00,lightning_deal,15,12,10.73,3.0,NaN,none,COMPUTERS,CE,MLM-SPEAKERS

In [3]:
#Volumetria
df.info() #48746 observações

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48746 entries, 0 to 48745
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OFFER_START_DATE           48746 non-null  object
 1   OFFER_START_DTTM           48746 non-null  object
 2   OFFER_FINISH_DTTM          48746 non-null  object
 3   OFFER_TYPE                 48746 non-null  object
 4   INVOLVED_STOCK             48746 non-null  int64
 5   REMAINING_STOCK_AFTER_END  48746 non-null  int64
 6   SOLD_AMOUNT                24579 non-null  float64
 7   SOLD_QUANTITY              24579 non-null  float64
 8   ORIGIN                     11316 non-null  object
 9   SHIPPING_PAYMENT_TYPE      48746 non-null  object
 10  DOM_DOMAIN_AGG1            48746 non-null  object
 11  VERTICAL                   48746 non-null  object
 12  DOMAIN_ID                  48746 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 4.8+ MB

## Entendendo as variáveis

In [5]:
#Variável - OFFER_START_DATE	
df['OFFER_START_DATE'].drop_duplicates().shape[0] #61 dias de oferta relâmpago

61

In [6]:
#Variável - OFFER_TYPE
df['OFFER_TYPE'].value_counts() #Todas foram lightning_deal (oferta relâmpago)

OFFER_TYPE
lightning_deal    48746
Name: count, dtype: int64

In [7]:
#Variável - ORIGIN
df['ORIGIN'].value_counts() #Classe A (Alta incidência de missing values)

ORIGIN
A    11316
Name: count, dtype: int64

In [8]:
#Variável - SHIPPING_PAYMENT_TYPE
df['SHIPPING_PAYMENT_TYPE'].value_counts() #free_shipping (frete grátis) vs none (frete pago)

SHIPPING_PAYMENT_TYPE
free_shipping    26658
none             22088
Name: count, dtype: int64

In [11]:
#Variável - DOM_DOMAIN_AGG1 --Tipo de produto comercializado (várias classes)
round(100 * df['DOM_DOMAIN_AGG1'].value_counts(True),1)

DOM_DOMAIN_AGG1
HOME&DECOR                      13.8
APPAREL ACCESORIES               9.0
APPAREL                          7.9
COMPUTERS                        7.7
SPORTS                           6.7
PHARMACEUTICS                    6.2
ELECTRONICS                      6.2
PERSONAL CARE                    6.2
MOBILE                           3.8
AUTOPARTS                        3.5
FOOTWEAR                         3.1
TOOLS AND CONSTRUCTION           3.1
TOYS AND GAMES                   2.9
STATIONARY                       2.6
INDUSTRY                         2.5
BEAUTY EQUIPMENT                 2.3
FOODS                            1.8
PERSONAL HYGIENE                 1.7
BABY                             1.6
MOTOPARTS                        1.3
BOOKS, MULTIMEDIA & OTHER E!     1.0
PETS FOOD                        1.0
PARTY                            0.8
CLEANING                         0.7
SECURITY                         0.7
PET PRODUCTS                     0.5
SUPLEMENTS                       0.4
BATTERIES                        0.2
VEHICULAR MULTIMEDIA             0.2
ACC TOOLS                        0.2
DRINKS                           0.1
WHEELS & TIRES                   0.1
MUSICAL INSTRUMENTS              0.1
OTHER                            0.0
ANTIQUES & HOBBIES               0.0
AGRO                             0.0
Name: proportion, dtype: float64

* **Classes de interesse**
1. HOME&DECOR                      13.8
2. APPAREL ACCESORIES               9.0 (ACESSÓRIOS DE VESTUÁRIO)
3. APPAREL                          7.9
4. COMPUTERS                        7.7
5. SPORTS                           6.7
6. PHARMACEUTICS                    6.2
7. ELECTRONICS                      6.2
8. PERSONAL CARE                    6.2

In [12]:
13.8 + 9.0 + 7.9 + 7.7 + 6.7 + 6.2 + 6.2 + 6.2 #Estas 8 classes tem aproximadamente 64% do total de casos

63.70000000000002

In [13]:
#Variável - VERTICAL
df['VERTICAL'].value_counts() #

VERTICAL
APP & SPORTS       13241
HOME & INDUSTRY    11011
CE                  8629
BEAUTY & HEALTH     7150
CPG                 2714
T & B               2624
ACC                 2573
ENTERTAINMENT        525
OTHERS               279
Name: count, dtype: int64

In [17]:
#Variável - DOMAIN_ID (empresa)
df['DOMAIN_ID'].value_counts().shape[0] #1266 (muitas classes)

1266