# EDA das ofertas relâmpagos

In [4]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   
##Eliminar os warnings
import warnings
warnings.filterwarnings("ignore")
##Ver todas as colunas do data frame
pd.set_option('display.max_columns', None)
##Ver todas as linhas do data frame
pd.set_option('display.max_rows', None)

# 1- Visão geral dos dados

In [6]:
#Importar a base de dados
df =  pd.read_csv('ofertas_relampago.csv', sep = ',')
#Visualizar
df.head(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,OFFER_TYPE,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID
0,2021-06-22,2021-06-22 16:00:00+00:00,2021-06-22 23:02:43+00:00,lightning_deal,4,-2,4.72,6.0,A,none,PETS FOOD,CPG,MLM-BIRD_FOODS
1,2021-06-22,2021-06-22 13:00:00+00:00,2021-06-22 19:00:02+00:00,lightning_deal,5,5,NaN,NaN,NaN,free_shipping,PET PRODUCTS,OTHERS,MLM-ANIMAL_AND_PET_PRODUCTS
2,2021-06-22,2021-06-22 07:00:00+00:00,2021-06-22 13:00:01+00:00,lightning_deal,15,12,10.73,3.0,NaN,none,COMPUTERS,CE,MLM-SPEAKERS

In [7]:
#Volumetria
df.info() #48746 observações

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48746 entries, 0 to 48745
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OFFER_START_DATE           48746 non-null  object
 1   OFFER_START_DTTM           48746 non-null  object
 2   OFFER_FINISH_DTTM          48746 non-null  object
 3   OFFER_TYPE                 48746 non-null  object
 4   INVOLVED_STOCK             48746 non-null  int64
 5   REMAINING_STOCK_AFTER_END  48746 non-null  int64
 6   SOLD_AMOUNT                24579 non-null  float64
 7   SOLD_QUANTITY              24579 non-null  float64
 8   ORIGIN                     11316 non-null  object
 9   SHIPPING_PAYMENT_TYPE      48746 non-null  object
 10  DOM_DOMAIN_AGG1            48746 non-null  object
 11  VERTICAL                   48746 non-null  object
 12  DOMAIN_ID                  48746 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 4.8+ MB

## Entendendo as variáveis